 Andrew J Markland, ajm259@uakron.edu\
 The University of Akron, CEPS, School of Computer Science\
 Applied Machine Learning CPSC-436-010\
 Dr. Zhong-Hui Duan\

# Project 1, kNN
 -Project Scope:\
     Apply the machine learning classification algorithm "k nearest neighbors"(kNN) to correctly classify a dataset of people based on their risk for MI, Myocardial Infarction.

In [7]:
#imports 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from pandas.plotting import scatter_matrix

In [11]:
people_df = pd.read_csv("NHANES_data_train.csv")
#count of people with MI's and total without MI's
MICount = (people_df["MI"] == 1).sum()
print(MICount)

145

      ParticipantID  Income  Sex  Age  Race  Edu  Diastolic    Systolic  \
0                 1    4.56    1   70     3  NaN  69.000000  124.333333
1                 2    5.00    2   49     3  5.0  64.000000  102.666667
2                 3    1.59    1   54     4  NaN  96.000000  160.000000
3                 4    2.37    1   73     3  NaN  58.000000  134.666667
4                 5    5.00    1   42     3  NaN  82.333333  116.000000
...             ...     ...  ...  ...   ...  ...        ...         ...
4074           4075    1.32    2   68     2  1.0  46.666667  116.000000
4075           4076    0.68    1   51     3  NaN  59.333333  105.666667
4076           4077    1.02    2   54     3  3.0  62.666667  107.333333
4077           4078     NaN    2   48     4  4.0  74.000000  126.666667
4078           4079    1.57    2   61     4  NaN  76.666667  115.333333

          Pulse   BMI  HDL  Trig  LDL  TCHOL  kidneys_eGFR  Diabetes  \
0     61.333333  25.6   46   186  207    289     77.244722       2.0
1     66.000000  22.4   63    60  108    183    101.217970       2.0
2           NaN  25.4   60   102  179    261     71.863349       2.0
3     62.666667  34.0   41   105  110    172     72.459827       2.0
4     63.666667  30.4   49    98  203    275     79.009375       2.0
...         ...   ...  ...   ...  ...    ...           ...       ...
4074  78.000000  33.8   55    88   75    148    102.935178       1.0
4075  47.333333  41.9   61   151   95    181     96.908003       1.0
4076  70.000000  27.5   88   284  108    253     63.847943       2.0
4077  70.000000  30.4   66    41  116    190    109.782539       2.0
4078  76.666667  35.8   61    97   98    178     84.041156       2.0

      CurrentSmoker  isActive  isInsured  MI
0                 2       2.0        1.0   2
1                 2       2.0        1.0   2
2                 2       2.0        1.0   2
3                 2       1.0        1.0   2
4                 2       2.0        2.0   2
...             ...       ...        ...  ..
4074              2       2.0        1.0   2
4075              1       1.0        1.0   2
4076              1       2.0        2.0   2
4077              2       2.0        1.0   2
4078              2       1.0        1.0   2

[4079 rows x 20 columns]